*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

header{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.header-group{
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 147px;
  height: 70px;
}

nav{
  margin: 0 0;
  background-color: #EC715F;
  display: flex;
  justify-content: space-around;
}

.nav-list{
  justify-content: space-around;
}

.nav-list-item{
  width: 120px;
  line-height: 70px;
  list-style: none;
  display: inline-block;
  font-size: 16px;
  padding: 0 30px;
  color: #FAFAFA;
}

.main-visual{
  width: 100%;
  height: 650px;
  text-align: center;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  color: #FAFAFA;
}

.main-title{
  padding-top: 200px;
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  color: #FAFAFA;
}

.main-title-text{
  color: #FAFAFA;
  padding-top: 20px;
  font-size: 20px;
}

.container{
  width: 1024px;
  margin: 0 auto;
}

.blog-title{
  padding-top:90px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}

.blog-title::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F
}